@model AutoRapide.MVC.Models.Vehicule

@{
    ViewData["Title"] = "Delete";
}

<h1>Attention!</h1>

<h3>Êtes-vous certain(e) de vouloir supprimer cette voiture et les photos associées?</h3>
<!--
    TODO?
    Listefavoris.Count

    <p>X clients ont cette voiture dans leurs favoris</p>
-->
<div>
    <div>
        <!-- TODO ListView Photo ici -->
    </div>
    
    <h4>@Html.DisplayFor(model => model.Constructeur) @Html.DisplayFor(model => model.Modele) @Html.DisplayFor(model => model.AnneeFabrication) </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSiege)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSiege)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstDisponible)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste des véhicules</a>
    </form>
</div>
