@model AutoRapide.MVC.Models.Vehicule

@{
    ViewData["Title"] = "Fiche detaillee";
}

<div>
    <div class="containerImages">
        <div class="imagesVehicule">
            <!-- TODO ListView Photo ici -->
            @{

                //Logique viable seulement dans le cadre du travail
                //A revoir dans un context reel ou plus de deux images == possible
                //Ex: Methode GetAllImages() dans le controleur
                List<string> listeImages = new List<string> { Model.Image1Url, Model.Image2Url };
                var srcImage = Model.Image1Url; //Image 1 : VAleur par default
                string idButton = "nextImage";
                string txtButton = "&#8680;";
                int i = 0;

                string NavigationImage()
                {
                    i++;

                    if (i == listeImages.Count - 1)
                    {
                        i += -1;
                        idButton = "previousImage";
                        txtButton = "&#8678;";
                    }

                    srcImage = listeImages[i];

                    return srcImage;
                }

                <div class="navigationImages" id="@idButton" onclick="@NavigationImage()">
                    @txtButton
                </div>

                <img src="@srcImage" alt="Une erreur est survenue">

            }
        </div>
    </div>

    <h1>@Html.DisplayFor(model => model.Constructeur) @Html.DisplayFor(model => model.Modele) @Html.DisplayFor(model => model.AnneeFabrication) </h1>

    <div class="headerVehicule">

        @{
            bool btnDisabled = false;
            string txtPrixClass = "";
            string btnCommandeId = "";

            if (!Model.EstDisponible)
            {
                btnDisabled = true;
                btnCommandeId = "btnDisabled";
                txtPrixClass = "nonDisponible";
                <div>
                    <h3 class="txtAvertissement">Ce vehicule n'est plus disponible</h3>
                </div>
            }
        }

        <div>
            <button asp-controller="Commandes" asp-action="Create" class="btn btn-primary" id="@ViewBag.IdVehicule" disabled="@btnDisabled">Commander</button>
            @{
                string messageFavori;
                string classBouton;
                bool ajout; 
                if (ViewBag.IsFavori)
                {
                    messageFavori = "Retirer des favoris";
                    classBouton = "btn-danger";
                    ajout = false;
                }
                else
                {
                    messageFavori = "Ajouter aux favoris";
                    classBouton = "btn-success";
                    ajout = true;
                }
                <a asp-controller="Favoris" asp-action="Ajouter" asp-route-idvehicule="@Model.Id" asp-route-ajout="@ajout"><button class="btn @classBouton">@messageFavori</button></a>
            }
            
        </div>
    </div>
    <div>
        <h3 class="@txtPrixClass">@Html.DisplayFor(model => model.Prix)&#36;</h3>
    </div>
    <hr />
    <h4>Informations additionnelles:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSiege)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreSiege)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    @*
        <p>Ne ratez pas cette opportunité en or!</p>
        <a asp-controller="Commandes" asp-action="Create" class="btn btn-primary">Commander</a>
    *@
</div>
<div>
    <button asp-controller="Vehicules" asp-action="Edit" class="btn btn-link" disabled="@btnDisabled">Modifier</button> |
    <a asp-controller="Vehicules" asp-action="Delete">Supprimer ce vehicule</a>
</div>
<div>
    <a asp-action="Index">Retour vers la liste des vehicules</a>
</div>
