@model IEnumerable<AutoRapide.MVC.Models.Vehicule>

@{
    ViewData["Title"] = "Index";
}

<h1>Faites de vos rêves une réalité avec RapidAuto!</h1>

<p>
    <a asp-action="Create">Afficher un nouveau véhicule</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Trouvez votre voiture idéale: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Rechercher" class="btn btn-default" /> |
            <a asp-action="Index">Retour vers la liste complète</a>
        </p>
        @* TODO Filtre affichage seulement favoris?*@
    </div>
</form>

<div class="indexVehicule">

    @foreach (var item in Model) {
       <div class="appercuVehicule">
           <div class="thumbnailVehicule">
               <!-- photo -->
           </div>
           <div class="resumeVehicule">
              <div>
                  <h3>@Html.DisplayFor(modelItem => item.Constructeur) @Html.DisplayFor(modelItem => item.Modele) @Html.DisplayFor(modelItem => item.AnneeFabrication)</h3>
              </div>
              <div>
                  @Html.DisplayFor(modelItem => item.Prix)
              </div>
           </div>
       </div>
   }
</div>  


